*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.photo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}